<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>recipeNames</key>
	<array>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>URL</key>
			<string>http://img.brainjet.com/slides/3/3/9/6/5/1/3396513027/ed6eb3f201d6dd08b24b0feb74d314233a617dc2.jpeg</string>
			<key>name</key>
			<string>Pepsi</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>URL</key>
			<string>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_2o6DihGAD7YUgmj9Tmy_W4_WAxiQxxzQwtywSrWl-hWBhHcQ</string>
			<key>name</key>
			<string>NASA</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>URL</key>
			<string>http://2.bp.blogspot.com/-Ja7eBZkjlPM/UN_7S0FEXRI/AAAAAAAAAWs/18OlfapCbCw/s1600/but-even-logos-that-dont-display-the-companys-name-got-a-makeover-this-year-twitters-bird-logo-changed-from-this-.jpg</string>
			<key>name</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>URL</key>
			<string>https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTL7nRXZrqDGvNe6RrilJ9JhQeFX32cFXB8rCZN57tAnFRZ56kV</string>
			<key>name</key>
			<string>Shell</string>
		</dict>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>URL</key>
			<string>http://www.clipartbest.com/cliparts/McL/LGE/McLLGEzki.jpeg</string>
			<key>name</key>
			<string>Intel</string>
		</dict>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>URL</key>
			<string>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw2isN9IGcwSLuk6Kr94YftXZStoxWlgwSlQEf76Lb7h7v-5mgCw</string>
			<key>name</key>
			<string>Hewlett-Packard</string>
		</dict>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>URL</key>
			<string>https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSOYQJJWN0cUysgHXZ1kE4Sv5Z00vr3lkIb88cFOl4N0acTxCEb-Q</string>
			<key>name</key>
			<string>Fed-Ex</string>
		</dict>
		<dict>
			<key>id</key>
			<string>8</string>
			<key>URL</key>
			<string>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBOcAofpboPsTLH0Spt9yCAB2WYVoOGadGUGeAeW5DO7EaOeit</string>
			<key>name</key>
			<string>Baskin Robins</string>
		</dict>
		<dict>
			<key>id</key>
			<string>9</string>
			<key>URL</key>
			<string>https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQCeq9cECiE4ZMGtWZgx0YYAFMWI4VBVgCfAAwlk6uYr_2ZfNZH</string>
			<key>name</key>
			<string>Audi</string>
		</dict>
		<dict>
			<key>id</key>
			<string>10</string>
			<key>URL</key>
			<string>https://wolfsgamingblog.files.wordpress.com/2011/08/bl2logos_layeredprint_copy.jpg</string>
			<key>name</key>
			<string>Google</string>
		</dict>
	</array>
</dict>
</plist>
